body {
    margin: 0;
    min-width: 970px; 
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #242424;
    background-color: #000000;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.main-header-nav {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    list-style: none;
}

.link-item {
    display: inline-block;
    padding: 24px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
} 

  .user-navigation {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-item-login {
    padding-left: 44px;
}

.user-navigation  .link-item {
    position: relative;
    width: 16px;
    height: 22px;
}

.navigation-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: #bdbdbd;
 }

 .link-item-login .navigation-icon {
     left: -20px;
 }

.advantages {
    height: 800px;
    background-image: url(img/main-bg.jpg);
    margin: 0 auto;     /* не работает */
    padding-top: 64px;
    color:#ffffff;
}

.advantages-list {
    display:flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 64px;
    margin-bottom: 0;
    padding: 0;
}

.advantages-item {
    width: 277px;
}

.advantages-title {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.advantages-title::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    top: 160%;
    transform: rotate(45deg);
}

.advantages-description {
    font-family: 'PT Sans' , sans-serif;
    padding-top: 56px;
    margin: 0;
    text-align: center;
}
