body {
    margin: 0;
    min-width: 1200px; 
    font-family: "Work Sans","Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: blanchedalmond;
    background-color: black;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
